footer.footer.wow.fadeInUp
    .container
        .footer__container
            a(href="#")
                .footer__logo
                    img(src="/images/logo-bilzpap.png")
            .footer__social
                h3.footer__social__title siguenos
                
                ul.footer__social__list
                    li
                        a(href="https://www.facebook.com/YoQuieroOtroMundoBilzYPap", target="_blank")
                            i.fa.fa-facebook
                    li
                        a(href="https://www.instagram.com/bilzypapcl/?hl=es-la", target="_blank")
                            i.fa.fa-instagram
                    li
                        a(href="https://www.youtube.com/user/bilyymaik", target="_blank")
                            i.fa.fa-youtube-play



                            
