footer.footer
    .container
        .footer__container
            a(href="#")
                .footer__logo
                    img(src="/images/logo-bilzpap.png")
            .footer__social
                h3.footer__social__title siguenos
                
                ul.footer__social__list
                    li
                        a(href="#")
                            i.fa.fa-facebook
                    li
                        a(href="#")
                            i.fa.fa-instagram
                    li
                        a(href="#")
                            i.fa.fa-twitter
                    li
                        a(href="#")
                            i.fa.fa-youtube-play



                            
