extends _layouts/base

include ./_modules/slider/slider

block content
    main.home
        section.home__hero
            .home__hero__backdrop-mobile
                img(src="/images/back-hero-mobile.jpg")
            .home__hero__backdrop-tablet
                img(src="/images/back-hero-tablet.jpg")
            .home__hero__backdrop-desktop
                img(src="/images/back-hero-desktop.jpg")
            .container.home__hero__characters__container
                .home__hero__characters.wow.fadeInUpBig
                    img(src="/images/characters.png")
            .home__hero__container
                .container
                    .row
                        .col-xs-24
                            .home__hero__wrapper.wow.fadeInUp
                                h2.home__hero__title <span class="_yellow">Participa</span> por ser el próximo piloto de e-karts
                                h3.home__hero__subtitle
                                    | Bilz y Pap Zero y Eliseo Salazar te invitan a disfrutar de la  
                                    span primera carrera de E-Karts eléctricos en Latinoamérica.  
                                    | Se parte de la carrera en #ModoBilzyPap”
                            
                            #info
                            +slider('home__hero__slider', 'multi')
                                .home__hero__slide
                                    .home__hero__group.home__hero__group--left.wow.bounceInLeft
                                        h3.home__hero__slide-title ¿Cómo participar?
                                        p.home__hero__slide-text 
                                            | Si quieres <span class="_big">ser un piloto</span> en esta carrera,
                                            | crea tu propio prototipo de auto reutilizando botellas
                                            | de Bilz y Pap súbelo a Facebook o Instagram con “
                                            span Carrera en #ModoBilzyPap” .
                                            | ¡No olvides etiquetarnos.!
                                            | Inspírate con nuestras creaciones de más abajo y se
                                            | el próximo Eliseo Salazar
                                .home__hero__slide
                                    .home__hero__group.home__hero__group--right.wow.bounceInRight
                                        h3.home__hero__slide-title La Carrera
                                        p.home__hero__slide-text 
                                            | <span class="_big">Este 25 de mayo</span> te invitamos a la
                                            | primera carrera de E-Karts eléctricos para toda la
                                            | familia<span class="_big"> en el Estadio nacional.</span>
                                            | A partir de las 11.00 am los niños/as toman el volante
                                            | mientras padres/madres se hacen cargo de la
                                            | velocidad.
                                            br
                                            | Entrada liberada.
            
            a._arrow-down(href="#info")
                img(src="/images/arrow-next.png")

        section.home__creacion
            .home__creacion__backdrop.wow.bounceInUp
                img(src="/images/back-middle.png")
            .container
                .row
                    .col-xs-24
                        +slider('home__creacion__slider')
                            .home__creacion__slide
                                .home__creacion__slide-group
                                    .home__creacion__slide-image.wow.bounceInLeft
                                        img(src="/images/middle-cover.png")
                                    .home__creacion__slide-content
                                        .home__creacion__slide-container.wow.bounceInRight
                                            h3.home__creacion__slide-title AUTO CON TECHO
                                        p.home__creacion__slide-text 
                                            |Participa por ser el próximo Eliseo Salazar en la primera carrera
                                            |de E-Karts que trae Bilz y Pap Zero.
                                            |¡Inspírate con esta creación!
                            .home__creacion__slide
                                .home__creacion__slide-group
                                    .home__creacion__slide-image.wow.bounceInLeft
                                        img(src="/images/middle-cover.png")
                                    .home__creacion__slide-content
                                        .home__creacion__slide-container.wow.bounceInRight
                                            h3.home__creacion__slide-title MONSTER TRUCK
                                        p.home__creacion__slide-text 
                                            |Bilz y Pap trae la primera carrera de E-Karts a Latinoamérica
                                            |conviértete en el próximo Eliseo Salazar creando un auto como este
                                            |junto a tu familia
                            .home__creacion__slide
                                .home__creacion__slide-group
                                    .home__creacion__slide-image.wow.bounceInLeft
                                        img(src="/images/middle-cover.png")
                                    .home__creacion__slide-content
                                        .home__creacion__slide-container.wow.bounceInRight
                                            h3.home__creacion__slide-title AUTO CON VELOCIDAD
                                        p.home__creacion__slide-text 
                                            |¿Aún no participas para ser el próximo piloto de E-Karts? Crea un
                                            |auto como este y corre como Eliseo Salazar en el evento jamás antes
                                            |visto

        section.home__concurso
            .home__concurso__heading
                //- .home__concurso__decoration-top.wow.bounceInRight
                //-     img(src="/images/sparkles.png")
                .home__concurso__characters.wow.bounceInUp
                    img(Src="/images/characters-bottom.png")
                //- .home__concurso__decoration-bottom.wow.bounceInLeft
                //-     img(src="/images/sparkles.png")
                .container.container--modifier
                    .row
                        .col-xs-24.col-md-16.col-md-offset-4
                            h2.home__concurso__title.wow.fadeInUp concurso
                            p.home__concurso__text.wow.fadeInUp
                                |Haz tu propia creación de un auto
                                |<span>reutilizando</span> botellas de Bilz y Pap Zero
                                |para participar y ser el próximo piloto de
                                |<span>E-Karts</span> en Latinoamérica.
                                |Súbela a tus redes usando <span>“Carrera en #ModoBilzyPap”</span> y entretente en familia.
                            a.home__concurso__legal(href="./images/bases.pdf", target="_blank") Bases Legales

            .home__concurso__images-wrapper
                .container
                    .row
                        .col-xs-24.col-md-18.col-md-offset-3
                            .row.home__concurso__images-group
                                //- .col-xs-12.col-md-8
                                //-     .home__concurso__image
                                //-         
                                //- .col-xs-12.col-md-8
                                //-     .home__concurso__image-container
                                //- .col-xs-12.col-md-8
                                //-     .home__concurso__image-container
                                //- .col-xs-12.col-md-8
                                //-     .home__concurso__image-container
                                //- .col-xs-12.col-md-8
                                //-     .home__concurso__image-container
                                //- .col-xs-12.col-md-8
                                //-     .home__concurso__image-container
                                //- .col-xs-12.col-md-8
                                //-     .home__concurso__image-container
                                //- .col-xs-12.col-md-8
                                //-     .home__concurso__image-container
                                //- .col-xs-12.col-md-8
                                //-     .home__concurso__image-container
                                
